{% extends "main/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form id="frm_logout" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <a  href="javascript:$('#frm_logout').submit();" ><i class="fa-solid fa-arrow-right-to-bracket"></i> Увійти</a>
    <input type="hidden" name="next" value="{%  url 'main:home' %}" >
</form>
<p> Якщо ви вперше на нашому сайті</p>
<li><a href="{% url 'users:register'  %} "><i class="fa-solid fa-user-plus"></i> Реєстрація</a></li>


{% endblock %}